<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout :: head('Mantenimiento de SubCategorias')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mantenimiento de SubCategorías</title>
    </head>
    <body>
        <div th:replace="~{layout :: main-content(~{::div.content})}">
            <div class="content">
                <h2 class="mb-4">SubCategorías</h2>

                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" id="btnNuevaSubCategoria">
                        <i class="bi bi-plus-circle"></i> Nueva SubCategoría
                    </button>
                </div>

                <div class="table-responsive">
                    <table id="tblSubCategoria" class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Categoría</th>
                                <th>Nombre</th>
                                <th>Imagen Url</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary btn-return">Retornar</button>
        </div>
        <th:block th:replace="~{layout :: scripts}"></th:block>
        <!-- DataTables Script -->
        <script th:src="@{/js/subcategoria/mantenimiento-subcategoria-table.js}"></script>
        <!-- Script para el crud modal -->
        <script th:src="@{/js/subcategoria/subcategoria-crud-modal.js}"></script>
    </body>
</html>
